---
- name: Create infrastrucutre
  import_tasks: create_infra.yml
  when: data_center_state == 'present'

- name: Remove infrastrucutre
  import_tasks: remove_infra.yml
  when: data_center_state == 'absent'
